.info{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin:0.8rem;
    h3{
        background: rgb(194, 191, 191);
        width:80%;
        margin:0.4rem auto;
        padding:.3rem 2rem;
        border:solid 3px grey;
        border-radius:6px;
        font-weight: 400;
    }
    span{
        text-align:left;
        float:left;
    }
    a{
        text-align: left;
        margin-top: 1rem;
    }
}
